
@model IEnumerable<Website_Course_AVG.Models.course>
@{
    Layout = null;
}
@{
    <div id="form" class="card mb-3">
        @foreach (var item in Model)
        {
            using (Html.BeginForm("UpdateCourse", "Admin",@item, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="card-header">
                    <h5 class="card-title">Update course</h5>
                </div>
                <div class="card-body">
                    <div class="row gx-3">
                        <div class="col-xl-4 col-sm-6 col-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="m-0">
                                        <label class="form-label">Title</label>
                                        <input type="text" name="Course.title" class="form-control" placeholder="Title" value="@item.title" />
                                        @Html.ValidationMessage(@item.title, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6 col-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="m-0">
                                        <label class="form-label">Description</label>
                                        <input type="text" name="Course.description" class="form-control" placeholder="Description" value="@item.description" />
                                        @Html.ValidationMessage(@item.description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6 col-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="m-0">
                                        <label class="form-label">Author</label>
                                        <input text="text" name="Course.author" class="form-control" placeholder="Author" value="@item.author" />
                                        @Html.ValidationMessage(@item.author, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6 col-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <label class="form-label">Price</label>
                                    <div class="input-group">
                                        <input type="text" name="Course.Price" class="form-control" value="@item.price" />
                                        <span class="input-group-text">VND</span>
                                        @Html.ValidationMessage(@item.price.ToString(), "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-xl-4 col-sm-6 col-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="m-0">
                                        <label class="form-label">Select Category </label>
                                        <select class="form-select" aria-label="Default select example" name="Course.category_id">
                                            <option selected="@item.category_id">@item.category.name</option>
                                            @foreach (var category in ViewBag.Category)
                                            {
                                                <option value="@category.Id" @(category.Id == item.category_id ? "selected" : "")>@category.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex gap-2 justify-content-end">
                        <button type="button" class="btn btn-outline-secondary">Cancel</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            }
        }

    </div>
}
