@using MimeKit.Text
@model Website_Course_AVG.Models.AdminViewModels

@{
    <div class="card mb-3">
        @using (Html.BeginForm("InsertCourse", "Admin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="card-header">
                <h5 class="card-title">Insert course</h5>
            </div>
            <div class="card-body">
                <div class="row gx-3">
                    <div class="col-xl-4 col-sm-6 col-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="m-0">
                                    <label class="form-label">Title</label>
                                    <input type="text" name="Course.title" class="form-control" placeholder="Title" />
                                    @Html.ValidationMessageFor(m => m.Course.title, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 col-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="m-0">
                                    <label class="form-label">Description</label>
                                    <input type="text" name="Course.description" class="form-control" placeholder="Description" />
                                    @Html.ValidationMessageFor(m => m.Course.description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 col-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="m-0">
                                    <label class="form-label">Author</label>
                                    <input text="text" name="Course.author" class="form-control" placeholder="Author"/>
                                    @Html.ValidationMessageFor(m => m.Course.author, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 col-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <label class="form-label">Price</label>
                                <div class="input-group">
                                    <input type="text" name="Course.Price" class="form-control" />
                                    <span class="input-group-text">VND</span>
                                    @Html.ValidationMessageFor(m => m.Course.price, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 col-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="m-0">
                                    <label class="form-label">Select Category </label>
                                    <select class="form-select" aria-label="Default select example" name="Course.category_id">
                                        <option selected="">Open this select menu</option>
                                        @foreach (var item in Model.Categories)
                                        {
                                            <option value=@item.id>@item.name</option>
                                        }

                                    </select>
                                    @Html.ValidationMessageFor(m => m.Course.category_id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex gap-2 justify-content-end">
                    <button type="button" class="btn btn-outline-secondary">Cancel</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        }
    </div>
}
