@{
    string currentController = ViewContext.RouteData.Values["controller"].ToString().ToLower();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course AVG</title>
    <meta name="description" content="Trang web cung cấp các khóa học chuyên về Công nghệ Thông tin, bao gồm lập trình, hệ thống mạng, bảo mật thông tin và nhiều lĩnh vực khác. Học viên sẽ được trang bị kiến thức và kỹ năng cần thiết để thành công trong ngành IT.">
    <meta name="keywords" content="khóa học IT, lập trình, hệ thống mạng, bảo mật thông tin, khoá học công nghệ thông tin,react, html css, css, js , c#, php, laravel, wordpress, java,spring, spring boot, c++, c, python, ai">
    <meta name="robots" content="index, follow">
    <meta name="author" content="AVG Courses">
    <meta property="og:title" content="AVG COURSES">
    <meta property="og:description" content="Trang web cung cấp các khóa học chuyên về Công nghệ Thông tin, bao gồm lập trình, hệ thống mạng, bảo mật thông tin và nhiều lĩnh vực khác. Học viên sẽ được trang bị kiến thức và kỹ năng cần thiết để thành công trong ngành IT.">
    <meta property="og:image" content="https://github.com/AVG-Team/Website_Course_AVG/blob/master/Content/img/logo/AVG_Course.png?raw=true">


    <link rel="shortcut icon" type="image/x-icon" href="https://github.com/AVG-Team/Website_Course_AVG/blob/master/Content/img/logo/favicon.png?raw=true">

    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    @Styles.Render("~/Content/css/bootstrap.css")
    @Styles.Render("~/Content/css/animate.min.css")
    @Styles.Render("~/Content/css/magnific-popup.css")
    @Styles.Render("~/Content/css/owl.carousel.min.css")
    @Styles.Render("~/Content/css/flaticon.css")
    @Styles.Render("~/Content/css/odometer.css")
    @Styles.Render("~/Content/css/aos.css")
    @Styles.Render("~/Content/css/slick.css")
    @Styles.Render("~/Content/css/default.css")
    @Styles.Render("~/Content/css/style.css")
    @Styles.Render("~/Content/css/responsive.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css/toastr.css")
    @RenderSection("styles", required: false)


    @Scripts.Render("~/Scripts/d30a7cc1f2.js")
    <style>
        .suggestion {
            padding: 1px;
            margin-bottom: 1px; /* Khoảng cách giữa các mục gợi ý */
            cursor: pointer;
            font-size: 25px;
        }

        .autocomplete-suggestions {
            width: 550px; /* Thiết lập chiều rộng tùy chỉnh */
        }

            .autocomplete-suggestions .suggestion:hover {
                background-color: #0D6EFD;
            }
    </style>
</head>

<body>
    <!-- Scroll-top -->
    <a class="scroll-top scroll-to-target" href="#" style="bottom: 1rem; z-index: 99; right: 1rem;">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Scroll-top-end-->
    <!-- header-area -->
    <header>
        <div id="sticky-header" class="menu-area transparent-header sticky-menu-clone">
            <div class="container custom-container container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mobile-nav-toggler">
                            <ul class="d-flex">
                                <li class="header-cart">
                                    <a href="@Url.Action("Index","Cart")" class="svg-menu">
                                        <svg style="width:30px;height:30px;margin-bottom:7.2px;margin-right:10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                            <g id="SVGRepo_iconCarrier">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.79166 2H1V4H4.2184L6.9872 16.6776H7V17H20V16.7519L22.1932 7.09095L22.5308 6H6.6552L6.08485 3.38852L5.79166 2ZM19.9869 8H7.092L8.62081 15H18.3978L19.9869 8Z" fill="#ffffff"></path>
                                                <path d="M10 22C11.1046 22 12 21.1046 12 20C12 18.8954 11.1046 18 10 18C8.89543 18 8 18.8954 8 20C8 21.1046 8.89543 22 10 22Z" fill="#ffffff"></path>
                                                <path d="M19 20C19 21.1046 18.1046 22 17 22C15.8954 22 15 21.1046 15 20C15 18.8954 15.8954 18 17 18C18.1046 18 19 18.8954 19 20Z" fill="#ffffff"></path>
                                            </g>
                                        </svg>
                                        @*<span aria-hidden="true" data-testid="cart-badge" class="desktop-header-module--dropdown-counter-badge--unIZ1 notification-badge-module--ud-notification-badge--dQC8r notification-badge-module--ud-notification-counter--hNzUv" title="1 mặt hàng trong giỏ hàng">1</span>*@
                                    </a>
                                </li>
                                <li>
                                    <i class="fas fa-bars"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="menu-wrap">
                            <nav class="menu-nav show justify-content-between">
                                <div class="logo me-5">
                                    <a href="@Url.Action("Index", "Home")">
                                        <img src="~/Content/img/logo/AVG_course.png" alt="Logo">
                                    </a>
                                </div>
                                <div class="navbar-wrap main-menu d-none d-lg-flex">
                                    <ul class="navigation">
                                        <li class="active menu-item-has-children">
                                            <a href="@Url.Action("Index","Home")">@global_asax.Trans("Home")</a>
                                        </li>
                                        <li class="menu-item-has-children"><a href="@Url.Action("Index","Course")">@global_asax.Trans("Course")</a></li>
                                        <li class="menu-item-has-children"><a href="@Url.Action("Index","Blog")">@global_asax.Trans("Blog")</a></li>
                                        <li><a href="@Url.Action("Contact","Home")">@global_asax.Trans("Contact")</a></li>
                                    </ul>
                                </div>
                                <div class="header-action d-none d-md-block">
                                    <ul>
                                        <li class="header-search">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#search-modal">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     style="width: 20px; height: 20px" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="header-cart">
                                            <a href="@Url.Action("Index", "Cart")">
                                                <svg style="width:21px;height:21px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                                    <g id="SVGRepo_iconCarrier">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.79166 2H1V4H4.2184L6.9872 16.6776H7V17H20V16.7519L22.1932 7.09095L22.5308 6H6.6552L6.08485 3.38852L5.79166 2ZM19.9869 8H7.092L8.62081 15H18.3978L19.9869 8Z" fill="#ffffff"></path>
                                                        <path d="M10 22C11.1046 22 12 21.1046 12 20C12 18.8954 11.1046 18 10 18C8.89543 18 8 18.8954 8 20C8 21.1046 8.89543 22 10 22Z" fill="#ffffff"></path>
                                                        <path d="M19 20C19 21.1046 18.1046 22 17 22C15.8954 22 15 21.1046 15 20C15 18.8954 15.8954 18 17 18C18.1046 18 19 18.8954 19 20Z" fill="#ffffff"></path>
                                                    </g>
                                                </svg>
                                                @*<span aria-hidden="true" data-testid="cart-badge" class="desktop-header-module--dropdown-counter-badge--unIZ1 notification-badge-module--ud-notification-badge--dQC8r notification-badge-module--ud-notification-counter--hNzUv" title="1 mặt hàng trong giỏ hàng">1</span>*@
                                            </a>
                                        </li>
                                        <li class="header-lang">
                                            <form action="/Language/Change" id="form-change-lang">
                                                @Html.DropDownList("languageAbbreviation", Website_Course_AVG.Managers.Helpers.GetLanguageDictionaryElement(), new { @class = "form-control", id = "lang-dropdown" })
                                            </form>
                                        </li>
                                        @if (!Website_Course_AVG.Managers.Helpers.IsAuthenticated())
                                        {
                                            <li class="header-btn d-flex align-items-center"><a href="@Url.Action("Login", "Account")" class="btn">@global_asax.Trans("Sign In")</a></li>
                                            <li class="header-btn d-flex align-items-center"><a href="@Url.Action("Register", "Account")" class="btn">@global_asax.Trans("Sign Up")</a></li>
                                        }
                                        else
                                        {
                                            var userManager = new Website_Course_AVG.Managers.UserManager();
                                            var currentUser = userManager.GetUserFromToken();
                                            <li>
                                                <div class="menu-user">
                                                    <div class="avatar-user" onclick="menuToggle();">
                                                        @if (Website_Course_AVG.Managers.Helpers.IsAdmin())
                                                        {
                                                            <a href="#">
                                                                <i class="fa-solid fa-user-shield" style="color:rgb(124 217 110)!important"></i>
                                                            </a>
                                                        }
                                                        else if (Website_Course_AVG.Managers.Helpers.IsUser())
                                                        {
                                                            <a href="#">
                                                                <i class="fa-solid fa-user"></i>
                                                            </a>
                                                        }
                                                    </div>
                                                    <div class="profile-user">
                                                        <ul>
                                                            @if (Website_Course_AVG.Managers.Helpers.IsAdmin())
                                                            {
                                                                <li>
                                                                    <a href="#">
                                                                        <i class="fa-solid fa-user-shield me-2"></i>
                                                                        <span>@currentUser.fullname</span>
                                                                    </a>
                                                                </li>
                                                            }
                                                            else if (Website_Course_AVG.Managers.Helpers.IsUser())
                                                            {
                                                                <li>
                                                                    <a href="@Url.Action("ProfieUser", "Account")">
                                                                        <i class="fa-solid fa-user me-2"></i>
                                                                        <span>@currentUser.fullname</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="@Url.Action("GetCourseUser", "Course")">
                                                                        <i class="fa-solid fa-book me-2"></i>
                                                                        <span>My course</span>
                                                                    </a>
                                                                </li>
                                                            }
                                                            <li><a href="@Url.Action("LogOff","Account")"><span class="fa fa-sign-out me-3"></span>@global_asax.Trans("Sign out")</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </nav>
                        </div>

                        <!-- Mobile Menu  -->
                        <div class="mobile-menu">
                            <div class="close-btn"><i class="fas fa-times"></i></div>

                            <nav class="menu-box">
                                <div class="nav-logo">
                                    <a href="index.html"><img src="../Content/img/logo/AVG_Course.png" alt="" title=""></a>
                                </div>

                                @if (Website_Course_AVG.Managers.Helpers.IsAuthenticated())
                                {
                                    var userManager = new Website_Course_AVG.Managers.UserManager();
                                    var currentUser = userManager.GetUserFromToken();
                                    <div class="menu-user-mobile">
                                        <div class="avatar-user-mobile">
                                            @if (Website_Course_AVG.Managers.Helpers.IsAdmin())
                                            {
                                                <a href="#">
                                                    <i class="icon fa-solid fa-user-shield" style="color:rgb(124 217 110)!important"></i>
                                                </a>
                                                <div class="user-name-mobile"><span>@currentUser.fullname</span></div>
                                            }
                                            else if (Website_Course_AVG.Managers.Helpers.IsUser())
                                            {
                                                <a href="#">
                                                    <i class="icon fa-solid fa-user"></i>
                                                </a>
                                                <div class="user-name-mobile"><span>@currentUser.fullname</span></div>
                                            }
                                        </div>

                                    </div>
                                }
                                <div class="menu-outer">
                                    <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->

                                    <ul class="navigation">
                                        <li class="active menu-item-has-children">
                                            <a href="@Url.Action("Index","Home")">@global_asax.Trans("Home")</a>
                                        </li>

                                        <li class="menu-item-has-children">
                                            <a href="@Url.Action("Index","Course")">@global_asax.Trans("Course")</a>
                                        </li>

                                        <li class="menu-item-has-children">
                                            <a href="@Url.Action("Index","Blog")">@global_asax.Trans("Blog")</a>
                                        </li>

                                        <li><a href="@Url.Action("Contact","Home")">@global_asax.Trans("Contact")</a></li>

                                        @if (Website_Course_AVG.Managers.Helpers.IsUser())
                                        {
                                            <li><a href="@Url.Action("GetCourseUser","Course")"><i class="fa-solid fa-book me-2"></i>My course</a></li>
                                        }

                                        @if (!Website_Course_AVG.Managers.Helpers.IsAuthenticated())
                                        {
                                            <li><a href="@Url.Action("Login","Account")"><span class="fa fa-sign-in me-2"></span>@global_asax.Trans("Sign in")</a></li>
                                            <li><a href="@Url.Action("Register","Account")"><span class="fa-regular fa-registered me-2"></span>@global_asax.Trans("Sign up")</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="@Url.Action("LogOff","Account")"><span class="fa fa-sign-out me-2"></span>@global_asax.Trans("Sign out")</a></li>
                                        }
                                    </ul>
                                </div>
                                <div class="social-links">
                                    <ul class="clearfix">
                                        <li><a href="https://github.com/AVG-Team/Website_Course_AVG"><span class="fab fa-github"></span></a></li>
                                        <li><a href="https://www.facebook.com/avg.team"><span class="fab fa-facebook-square"></span></a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="menu-backdrop"></div>
                        <!-- End Mobile Menu -->
                        <!-- Modal Search -->
                        <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="searchModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    @using (Html.BeginForm("SearchCourses", "Home", FormMethod.Post, new { @class = "form" }))
                                    {

                                        <input id="searchInput" type="text" value="" placeholder="Search here..." name="query" style="max-width:none !important" autocomplete="on" a>
                                        <button type="submit" id="searchBtn">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 style="width: 40px; height: 40px" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                                            </svg>
                                        </button>
                                        <div id="suggestions" class="autocomplete-suggestions list-group"></div>

                                    }

                                </div>
                            </div>
                        </div>
                        <!-- Modal Search-end -->

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- main-area -->
    <main>
        <div class="pb-5 to-top">
            @RenderBody()
        </div>
    </main>

    @RenderSection("modal", required: false)
    <!-- Modal -->
    <div class="modal fade" id="cookieModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="cookieModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-4 text-black" id="cookieModalLabel"><i class="fas fa-cookie-bite" style="color: #e7b353"></i> @global_asax.Trans("Our website uses cookies")</h5>
                </div>
                <div class="modal-body" style="color: #808080; ">
                    @global_asax.Trans("Our website use cookies. By Approve, we assume your permission to deploy cookies as detailed in our Privacy Policy.")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="setCookie('Approve_Cookie', '1')">@global_asax.Trans("Approve")</button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-top-wrap">
            <div class="container">
                <div class="footer-menu-wrap">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <div class="footer-logo">
                                <a href="index.html"><img src="~/Content/img/logo/AVG_Course.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="footer-menu">
                                <nav>
                                    <ul class="navigation">
                                        <li><a href="@Url.Action("Index","Home")">@global_asax.Trans("Home")</a></li>
                                        <li><a href="@Url.Action("Index","Course")">@global_asax.Trans("Course")</a></li>
                                        <li><a href="@Url.Action("Index","Blog")">@global_asax.Trans("Blog")</a></li>
                                        <li><a href="@Url.Action("Contact","Home")">@global_asax.Trans("Contact")</a></li>
                                    </ul>
                                    <div class="footer-search">
                                        <form action="#">
                                            <input type="text" placeholder="@global_asax.Trans("Find Favorite Course")">
                                            <button><i class="fas fa-search"></i></button>
                                        </form>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-quick-link-wrap">
                    <div class="row align-items-center">
                        <div class="col-md-7">
                            <div class="quick-link-list">
                                <ul>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">@global_asax.Trans("Help Center")</a></li>
                                    <li><a href="#">@global_asax.Trans("Terms of Use")</a></li>
                                    <li><a href="#">@global_asax.Trans("Privacy")</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="footer-social">
                                <ul>
                                    <li><a href="https://github.com/AVG-Team/Website_Course_AVG"><i class="fab fa-github"></i></a></li>
                                    <li><a href="https://www.facebook.com/avg.team"><i class="fab fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="copyright-text">
                            <p>Copyright &copy; @DateTime.Now.Year AVG Team</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="payment-method-img text-center text-md-right">
                            <ul class="d-flex justify-content-end">
                                <li><a href="#"><img src="~/Content/img/images/momo_footer.png" alt="img"></a></li>
                                <li><a href="#"><img src="~/Content/img/images/vnpay_footer.png" style="border-radius:10px;padding-left: 5px" alt="img"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/toastr.js")
    @RenderSection("scripts", required: false)

    <script>
        // cookie
        function getCookie(cookieName) {
            var name = cookieName + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function setCookie(cookieName, cookieValue, secondsToExpire, type = 1) {
            var expires;
            if (type === 0) {
                expires = secondsToExpire;
            } else if (type === 1) {
                var date = new Date();
                date.setTime(date.getTime() + (secondsToExpire * 1000));
                expires = "expires=" + date.toUTCString();
            }

            var updatedCookie = cookieName + "=" + cookieValue + ";" + expires + ";path=/";

            document.cookie = updatedCookie;
        }

        function deleteCookie(cookieName) {
            var date = new Date(0);
            var expires = "expires=" + date.toUTCString();
            var updatedCookie = cookieName + "=;" + expires + ";path=/";

            document.cookie = updatedCookie;
        }

        // toastr
        document.addEventListener("DOMContentLoaded", () => {
            let cookies = document.cookie;

            var cookieNotify = getCookie('Notify');
            if (cookieNotify !== "") {
                toastr.success(cookieNotify, '@global_asax.Trans("Notify")')
            }
            var cookieError = getCookie('Error');
            if (cookieError !== "")
                toastr.error(cookieError, '@global_asax.Trans("Error")')
        })

        // sticky-header
        window.addEventListener('scroll', function () {
            var header = document.getElementById('sticky-header');
            var scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;

            if (scrollTop > 100) {
                header.classList.add('sticky-menu');
                $(".scroll-top.scroll-to-target").css("opacity", 1);
            } else {
                header.classList.remove('sticky-menu');
                $(".scroll-top.scroll-to-target").css("opacity", 0);
            }
        });

        // mobile-menu
        let body = document.getElementsByTagName("body");
        let iconMenu = document.querySelector(".mobile-nav-toggler .fas.fa-bars");
        iconMenu.addEventListener("click", () => {
            body[0].classList.add("mobile-menu-visible");
        })

        let btnCloseMenuMobile = document.querySelector(".mobile-menu .close-btn");
        btnCloseMenuMobile.addEventListener("click", () => {
            body[0].classList.remove("mobile-menu-visible");
        })

        document.addEventListener('click', (e) => {
            if (!e.target.closest(".mobile-menu")
                && body[0].classList.contains("mobile-menu-visible")
                && !e.target.closest(".mobile-nav-toggler")
            ) {
                body[0].classList.remove("mobile-menu-visible");
            }
        });

        // dropdown-btn mobile menu
        document.addEventListener("DOMContentLoaded", function () {
            var dropdownBtns = document.querySelectorAll('.mobile-menu .navigation li.menu-item-has-children .dropdown-btn');

            dropdownBtns.forEach(function (btn) {
                btn.addEventListener('click', function (event) {
                    event.preventDefault();
                    var submenu = this.parentElement.querySelector('ul.submenu');
                    if (submenu.style.display === 'block') {
                        submenu.style.display = 'none';
                        this.classList.remove('open');
                    } else {
                        submenu.style.display = 'block';
                        this.classList.add('open');
                    }
                });
            });
        });

        function menuToggle() {
            const toggleMenu = document.querySelector('.profile-user');
            toggleMenu.classList.toggle('active');
        }

        document.addEventListener("DOMContentLoaded", () => {
            var controller = "@currentController";

            if (controller !== "home") {
                var header = $('#sticky-header');

                let heightHeader = header[0].offsetHeight !== 0 ? header[0].offsetHeight : header[1].offsetHeight;

                var divTop = $(".to-top");
                divTop.css("margin-top", heightHeader + "px");
            }

            if (!getCookie("Approve_Cookie")) {
                let modalCookie = new bootstrap.Modal(document.getElementById('cookieModal'))
                modalCookie.show()
            }

            $("#lang-dropdown").change(() => {
                $("#form-change-lang").submit();
            })
        });

        $(document).ready(function () {
            $('#searchInput').keyup(function () {
                var keyword = $(this).val();
                if (keyword.length >= 1) {
                    $.ajax({
                        url: '/Account/AutoComplete',
                        type: 'GET',
                        data: { keyword: keyword },
                        success: function (data) {
                            $('#suggestions').empty();
                            $.each(data, function (index, value) {
                                $('#suggestions').append('<div class="suggestion">' + value + '</div>');
                            });
                        }
                    });
                } else {
                    $('#suggestions').empty();
                }
            });

            document.getElementById('searchInput').addEventListener('keydown', function (event) {
                if (event.keyCode === 9) {
                    var suggestions = document.querySelectorAll('.suggestion');
                    if (suggestions.length > 0) {
                        var suggestionText = suggestions[0].innerText;
                        document.getElementById('searchInput').value = suggestionText;
                    }
                }
            });

            // Xử lý khi người dùng chọn một gợi ý từ danh sách
           $(document).on('click', '.suggestion', function () {
            var selectedSuggestion = $(this).text(); // Lấy giá trị của gợi ý được chọn
            $('#searchInput').val(selectedSuggestion); // Điền giá trị của gợi ý vào thanh tìm kiếm
            $('#suggestions').empty(); // Xóa danh sách gợi ý
});

        });
    </script>
</body>
</html>


