@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/logo/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/animate.min.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/flaticon.css">
    <link rel="stylesheet" href="~/Content/odometer.css">
    <link rel="stylesheet" href="~/Content/aos.css">
    <link rel="stylesheet" href="~/Content/slick.css">
    <link rel="stylesheet" href="~/Content/default.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/responsive.css">
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/toastr.css")
    @RenderSection("styles", required: false)

    <script src="https://kit.fontawesome.com/d30a7cc1f2.js" crossorigin="anonymous"></script>
    <style>
        .body{
            font-family: 'Poppins', sans-serif;
            background-color: #f9f9f9;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <header class="row" style="margin-right:0 !important; margin-left:0 !important;">
        <!-- Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
            <div class="container-fluid justify-content-between">
                <!-- Left elements -->
                <div class="d-flex">
                    <!-- Brand -->
                    <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
                        <img src="~/Content/img/logo/avg_team.png"
                             class="h-75 ms-4 "
                             alt="MDB Logo"
                             loading="lazy"
                             style="margin-top: 2px;" />
                    </a>
                </div>
                <!-- Left elements -->
                <!-- Center elements -->
                <ul class="navbar-nav flex-row d-none d-md-flex">
                    <!-- Search form -->
                    <form class="input-group w-auto my-auto d-none d-sm-flex">
                        <input autocomplete="off"
                               type="search"
                               class="form-control rounded"
                               placeholder="Search"
                               style="min-width: 125px;" />
                        <span class="input-group-text border-0 d-none d-lg-flex">
                            <i class="fas fa-search"></i>
                        </span>
                    </form>
                </ul>
                <!-- Center elements -->
                <!-- Right elements -->
                <ul class="navbar-nav flex-row">
                    <li class="nav-item me-3 me-lg-1">
                        <a class="nav-link d-sm-flex align-items-sm-center" href="#">
                            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp"
                                 class="rounded-circle"
                                 height="22"
                                 alt="Black and White Portrait of a Man"
                                 loading="lazy" />
                            <strong class="d-none d-sm-block ms-1">John</strong>
                        </a>
                    </li>
                    <li class="nav-item me-3 me-lg-1">
                        <a class="nav-link" href="#">
                            <span><i class="fas fa-plus-circle fa-lg"></i></span>
                        </a>
                    </li>
                    <li class="nav-item dropdown me-3 me-lg-1">
                        <a data-mdb-dropdown-init
                           class="nav-link dropdown-toggle hidden-arrow"
                           href="#"
                           id="navbarDropdownMenuLink"
                           role="button"
                           aria-expanded="false">
                            <i class="fas fa-comments fa-lg"></i>

                            <span class="badge rounded-pill badge-notification bg-danger">6</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="#">Some news</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Another news</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown me-3 me-lg-1">
                        <a data-mdb-dropdown-init
                           class="nav-link dropdown-toggle hidden-arrow"
                           href="#"
                           id="navbarDropdownMenuLink"
                           role="button"
                           aria-expanded="false">
                            <i class="fas fa-bell fa-lg"></i>
                            <span class="badge rounded-pill badge-notification bg-danger">12</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="#">Some news</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Another news</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown me-3 me-lg-1">
                        <a data-mdb-dropdown-init
                           class="nav-link dropdown-toggle hidden-arrow"
                           href="#"
                           id="navbarDropdownMenuLink"
                           role="button"
                           aria-expanded="false">
                            <i class="fas fa-chevron-circle-down fa-lg"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="#">Some news</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Another news</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Right elements -->
            </div>
        </nav>
        <!-- Navbar -->
    </header>
<div class="row " >
    <div class=" col-2  " style="background-color: white; height:85.5vh;">
        <div class="d-flex flex-column flex-shrink-0 p-3">
            <div class="dropdown ">
                <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle h-100" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle ">
                    Admin
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link active" aria-current="page">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                        Home
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                        Orders
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                        Products
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                        Customers
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-10 body">
        @RenderBody()
    </div>
</div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/toastr.js")
    @RenderSection("scripts", required: false)
</body>
</html>