@model Website_Course_AVG.Models.EmailConfirmation
@{
    Layout = null;
}

<div class="width:100%; height: 100%">
    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
           style="max-width:650px;background:#fff; border-radius:3px; text-align:left; padding-top: 50px;">
        <tr>
            <td style="text-align:center; ">
                <a href="@Model.UrlWebsite" title="logo" target="_blank">
                    <img style="width: 10rem; border-radius: 50%; display: block; border: 3px black;" src="https://github.com/AVG-Team/Website_Course_AVG/blob/master/Content/img/logo/avg_team.png?raw=true" title="logo" alt="logo">
                </a>
                <span style="display:inline-block; vertical-align:middle;margin-top:26px; margin-bottom:16px; border-bottom:1px solid #cecece; width:90%;"></span>
            </td>
        </tr>
        <tr>
            <td style="padding:0 35px; justify-content:left;">
                <p style=" font-weight:bold; margin-bottom:10;font-family:'Rubik',sans-serif; ">
                    Hello @Model.Name,
                    <br>
                    <br>
                    @global_asax.Trans("We have received a password reset request on our website.")
                    <br>
                    @global_asax.Trans("Enter the following password reset code:")
                </p>
                <div style="background-color: #e7f3ff; border: 2px solid #c4ddfb; border-radius: 5px; padding: 20px; width: 100px; margin-bottom: 26px;">
                    <p style="color:black; font-size: 16px; line-height: 1.5; margin: 0;">@Model.Code</p>
                </div>
                <a href="@Model.RedirectURL" id="redirectUrl"
                   style="width:400px; text-align:center;background:#1878f3;text-decoration:none !important; font-weight:500; margin-top:35px; color:#fff; font-size:14px;padding:10px 24px;display:inline-block;border-radius:10px;">@global_asax.Trans("Click here to change password")</a>

            </td>
        </tr>
    </table>
</div>

<script>
    function redirect() {
        var currentURL = window.location.href;
        var myURL = document.getElementById("redirectUrl");
        myURL.href = currentURL + "/Account/ResetPassword";
        Request
    }

</script>