@model Website_Course_AVG.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
}

<main aria-labelledby="title">

    @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Enter your email.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10 mb-3">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="row">
            <div class="offset-md-2 col-md-10">
                <input id="emailLinkBtn" type="submit" class="btn btn-outline-dark" value="Email Link" />
            </div>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        var lastClickTime = 0;

        var clickInterval = 1 * 60 * 1000;


        document.getElementById("emailLinkBtn").addEventListener("click", function (event) {

            var currentTime = new Date().getTime();


            if (currentTime - lastClickTime < clickInterval) {

                event.preventDefault();


                alert("@global_asax.Trans("Your time remain is") " + Math.ceil((clickInterval - (currentTime - lastClickTime)) / 60000) + " @global_asax.Trans("be sent again")");
            } else {

                lastClickTime = currentTime;
            }
        });
    </script>
}