@using Website_Course_AVG.Models
@model LoginViewModel

@{
    ViewBag.Title = "LOGIN";
}
<style>
    input {
        max-width: none;
    }
</style>
<main aria-labelledby="title">
    <!----------------------- Main Container -------------------------->
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <!----------------------- Login Container -------------------------->
        <div class="row border rounded-5 p-3 bg-white shadow box-area" style="width: 930px;">
            <!--------------------------- Left Box ----------------------------->
            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #103cbe;">
                <div class="featured-image mb-3">
                    @*<img src="/Content/img/images/login.png" class="img-fluid" style="width: 250px;">*@
                </div>
                <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Be Verified</p>
                @*<small class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Join experienced Designers on this platform.</small>*@
            </div>
            <!-------------------- ------ Right Box ---------------------------->

            <div class="col-md-6 ">
                <div class="right-box" style="padding: 40px 30px 40px 40px;">
                    <div class="row align-items-center">
                        <div class="header-text mb-4">
                            <h2 class="text-info">Hello,Again</h2>
                            <p>We are happy to have you back.</p>
                        </div>
                        <section id="loginForm">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="row">
                                    <div class="form-group mb-3">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg bg-light fs-6  rounded", placeholder = "Email Address" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="form-group mb-3">
                                        @Html.PasswordFor(m => m.Password, new { @id = "passwordField", style = "z-index: 1;", @class = "form-control form-control-lg bg-light fs-6 rounded-end position-relative", placeholder = "Password" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        <span id="enrypassword" class=" input-group-text border-0 position-absolute h-100 " style="z-index: 10; background-color: transparent; right: 2%; ">
                                            <i class="fa fa-eye-slash" id="togglePassword" style="z-index: 10;"></i>
                                        </span>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="input-group mb-3 d-flex justify-content-between">
                                        <div class="checkbox">
                                            @*@Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)*@
                                        </div>
                                        <div class="row">
                                            <small><a href="@Url.Action("ForgotPassword", "Account")">Forgot Password?</a></small>
                                            @*<section id="forgotPasswordForm">
                                                @Html.ActionLinkl()
                                            </section>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group mb-3 d-flex justify-content-center">
                                        <input type="submit" value="Log in" class="btn btn-outline-dark w-75" />
                                    </div>
                                </div>
                             }
                        </section>
                        <div class="input-group mb-3 justify-content-center">
                            <section id="socialLoginForm">
                                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                            </section>                            
                        </div>
                        <div class="row">
                            <small>Don't have account? <a href="@Url.Action("Register", "Account")">Sign Up</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    var eyeIcon = document.getElementById("togglePassword");
    document.getElementById("enrypassword").addEventListener("click", function () {
        var passwordField = document.getElementById("passwordField");
        if (passwordField.type === "password") {
            passwordField.type = "text";
            eyeIcon.classList.remove("fa-eye-slash");
            eyeIcon.classList.add("fa-eye");
        } else {
            passwordField.type = "password";
            eyeIcon.classList.remove("fa-eye");
            eyeIcon.classList.add("fa-eye-slash");
        }
    });

    document.getElementById("passwordField").addEventListener("click", function () {
        var span = document.getElementById("enrypassword");
        span.classList.remove("visually-hidden")
    });

    //document.getElementById("passwordField").addEventListener("blur", function () {
    //    var span = document.getElementById("enrypassword");
    //    span.classList.add("visually-hidden")
    //});
</script>
