@model Website_Course_AVG.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
}

<main aria-labelledby="title">
    <div class="container d-inline min-vh-100">
        <div class="row">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-6 col-sm-12 shadow-lg p-5 bg-light rounded-2">
                    <div>
                        <div class="text-center">
                            <h3 class="text-primary">@global_asax.Trans("Reset Password")</h3>
                        </div>
                    </div>
                    @using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="p-4">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-primary rounded-start">
                                    <i class="fa-solid fa-envelope" style="width: 15px; color:white; "></i>
                                </span>
                                @Html.TextBoxFor(m => m.Code, new { @id = "codeField", style = "z-index: 1;", @class = "form-control form-control-lg bg-light fs-6 rounded-end ", placeholder = "Enter Code" })

                                @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-3">
                                <div class="input-group">
                                    <span class="input-group-text bg-primary rounded-start">
                                        <i class="fa-solid fa-lock" style="width: 15px; color:white; "></i>
                                    </span>

                                    @Html.PasswordFor(m => m.Password, new { @id = "passwordField", style = "z-index: 1;", @class = "form-control form-control-lg bg-light fs-6 rounded-end ", placeholder = "Password" })
                                    <span id="firstEyeSpan" class="visually-hidden input-group-text border-0 position-absolute end-0 h-100 " style="z-index: 2; background-color: transparent ">
                                        <i class="fa fa-eye-slash" id="firstEyeIcon"></i>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-primary rounded-start">
                                        <i class="fa-solid fa-lock" style="width: 15px; color:white; "></i>
                                    </span>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @id = "RepasswordField", style = "z-index: 1;", @class = "form-control form-control-lg bg-light fs-6 rounded-end", placeholder = "Repassword" })
                                    <span id="secondEyeSpan" class="visually-hidden input-group-text border-0 position-absolute end-0 h-100" style="z-index:2; background-color: transparent">
                                        <i class="fa fa-eye-slash" id="secondEyeIcon"></i>
                                    </span>
                                </div>

                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>

                            <div class="d-grid col-12 mx-auto mb-4 mt-2 d-flex justify-content-center">
                                <input type="submit" value="Accept" class="btn btn-outline-dark w-75" />

                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var passwordField = document.getElementById("passwordField");
        var firstEyeIcon = document.getElementById("firstEyeIcon");
        var firstEyeSpan = document.getElementById("firstEyeSpan");

        var rePasswordField = document.getElementById("RepasswordField");
        var secondEyeIcon = document.getElementById("secondEyeIcon");
        var secondEyeSpan = document.getElementById("secondEyeSpan");

        firstEyeSpan.addEventListener("click", function () {
            if (passwordField.type === "password") {
                passwordField.type = "text";
                firstEyeIcon.classList.remove("fa-eye-slash");
                firstEyeIcon.classList.add("fa-eye");
            } else {
                passwordField.type = "password";
                firstEyeIcon.classList.remove("fa-eye");
                firstEyeIcon.classList.add("fa-eye-slash");
            }
        });

        secondEyeSpan.addEventListener("click", function () {
            if (rePasswordField.type === "password") {
                rePasswordField.type = "text";
                secondEyeIcon.classList.remove("fa-eye-slash");
                secondEyeIcon.classList.add("fa-eye");
            } else {
                rePasswordField.type = "password";
                secondEyeIcon.classList.remove("fa-eye");
                secondEyeIcon.classList.add("fa-eye-slash");
            }
        });

        rePasswordField.addEventListener("click", function () {
            secondEyeSpan.classList.remove("visually-hidden")
        });

        passwordField.addEventListener("click", function () {
            firstEyeSpan.classList.remove("visually-hidden")
        });

        passwordField.addEventListener("focus", function () {
            firstEyeIcon.classList.remove("visually-hidden");
        });

        rePasswordField.addEventListener("focus", function () {
            secondEyeIcon.classList.remove("visually-hidden");
        });
    </script>
}

