@model PagedList.IPagedList<Website_Course_AVG.Models.course> 
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main aria-labelledby="title">
    <div class="row">
        <div class="row">
            <div class="row">
                

            </div>
            <div class="row">
                @foreach (var item in Model)
                { 
                    <section class="col-lg-3">
                        <div class="mb-3 w-100 h-100 overflow-auto">
                            <a class="rounded-4 d-block object-fit-cover overflow-hidden pt-20  w-100 a_course mb-3" title="HTML CSS Pro" target="_self">
                                <img src="https://files.fullstack.edu.vn/f8-prod/courses/15/62f13d2424a47.png" alt=".." class="object-fit-cover border-0 rounded-4 w-100 h-100"/>
                            </a>
                            <div class="course_title">
                                <span class="text-black-75 fs-6">@item.title</span>
                            </div>
                            <div class="price-new mt-2">
                                <span class="courseItem_old_price">@item.price</span>
                                <span class="courseItem_main_price"></span>
                            </div>
                        </div>
                    </section>
                }
            </div>
        </div>
    </div>
    <div>
        <div>
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) /
            @Model.PageCount
        </div>

        <div class="MenuTrang">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
        </div>
    </div>
</main>

<style>
    ul .pagination {
        justify-content: center;
    }

    .MenuTrang {
        padding: 20px 0 10px 0;
    }

        .MenuTrang li {
            display: inline;
        }
</style>

<style type="text/css">
    .MenuTrang a {
        clear: both;
        color: black;
        padding: 4px 8px;
        text-decoration: none;
        background-color: #e8e8e8;
        border-radius: 5px;
        margin-left: 5px;
    }

        .MenuTrang a:hover {
            background-color: darkcyan;
            border-radius: 5px;
        }

    a:not([href]):not([class]) {
        &, &:hover

        {
            background-color: dodgerblue;
            color:white;
        }
    }
</style>

