@model Website_Course_AVG.Areas.Admin.Data.ViewModels.AdminViewModels
@{
    ViewBag.Title = "Insert Lesson";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="app-body">
    <div id="form" class="card mb-3">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="card-header">
                <h5 class="card-title">@ViewBag.Title</h5>
            </div>
            <div class="card-body">
                <div class="row gx-3">
                    <div class="col-xl-4 col-sm-6 col-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="m-0">
                                    <label class="form-label">Title</label>
                                    <input type="text" name="Lesson.title" class="form-control" placeholder="Title" />
                                    @Html.ValidationMessageFor(m => m.Lesson.description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 col-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="m-0">
                                    <label class="form-label">Description</label>
                                    <input type="text" name="Lesson.description" class="form-control" placeholder="Description" />
                                    @Html.ValidationMessageFor(m => m.Lesson.description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 col-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="m-0">
                                    <label class="form-label">Index</label>
                                    <input text="text" name="Lesson.description" class="form-control" placeholder="Author" value="@ViewBag.index"/>
                                    @Html.ValidationMessageFor(m => m.Lesson.description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 col-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <label class="form-label">Video</label>
                                <div class="input-group">
                                    <input type="text" name="Lesson.video_id" class="form-control" placeholder="Cours" />
                                    @Html.ValidationMessageFor(m => m.Lesson.course.title, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 col-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="m-0">
                                    <label class="form-label">Select Course </label>
                                    <select class="form-select" aria-label="Default select example" name="Lesson.course">
                                        <option selected="">Open this select menu</option>
                                        @foreach (var item in Model.Courses)
                                        {
                                            <option value=@item.id>@item.title</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 col-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <label class="form-label">Views</label>
                                <div class="input-group">
                                    <input type="text" name="Lesson.views" class="form-control disabled" placeholder="Views" />
                                    @Html.ValidationMessageFor(m => m.Lesson.views, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex gap-2 justify-content-end">
                    @*<button type="button" class="btn btn-outline-secondary">Cancel</button>*@
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        }
    </div>
</div>


