@model List<Website_Course_AVG.Models.CategoryCourseViewModels>

@{
    ViewBag.Title = "Home Page";
}

<style>
    .course_title{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
</style>

<main>
    <!-- banner-area -->
    <div class="slide-show w3-animate-right">
        <section class="banner-area banner-bg-1" data-background="~/Content/img/banner/layout_main_section.jpg">
            <div class="container custom-container">
                <div class="row">
                    <div class="col-xl-6 col-lg-8">
                        <div class="banner-content">
                            <h6 class="sub-title wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.8s">AVGTEAM</h6>
                            <h2 class="title wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1.8s"><span>ReactJS course</span> from basic to advanced.</h2>
                            <div class="banner-meta wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1.8s">
                                <ul>
                                    <li class="quality">
                                        <span>Pg 18</span>
                                        <span>hd</span>
                                    </li>
                                    <li class="category">
                                        <a href="#">Romance,</a>
                                        <a href="#">Drama</a>
                                    </li>
                                    <li class="release-time">
                                        <span><i class="far fa-calendar-alt"></i> 2024</span>
                                        <span><i class="far fa-clock"></i> 128 min</span>
                                    </li>
                                </ul>
                            </div>
                            <a href="https://www.youtube.com/watch?v=R2gbPxeNk2E" class="banner-btn btn popup-video wow fadeInUp" data-wow-delay=".8s" data-wow-duration="1.8s"><i class="fas fa-play"></i> Watch Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="slide-show w3-animate-right">
        <section class="banner-area banner-bg-2" data-background="~/Content/img/banner/layout_main_section.jpg">
            <div class="container custom-container">
                <div class="row">
                    <div class="col-xl-6 col-lg-8">
                        <div class="banner-content">
                            <h6 class="sub-title wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.8s">Movflx</h6>
                            <h2 class="title wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1.8s">Unlimited <span>Movie</span>, TVs Shows, & More.</h2>
                            <div class="banner-meta wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1.8s">
                                <ul>
                                    <li class="quality">
                                        <span>Pg 18</span>
                                        <span>hd</span>
                                    </li>
                                    <li class="category">
                                        <a href="#">Romance,</a>
                                        <a href="#">Drama</a>
                                    </li>
                                    <li class="release-time">
                                        <span><i class="far fa-calendar-alt"></i> 2024</span>
                                        <span><i class="far fa-clock"></i> 128 min</span>
                                    </li>
                                </ul>
                            </div>
                            <a href="https://www.youtube.com/watch?v=R2gbPxeNk2E" class="banner-btn btn popup-video wow fadeInUp" data-wow-delay=".8s" data-wow-duration="1.8s"><i class="fas fa-play"></i> Watch Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="slide-show w3-animate-right">
        <section class="banner-area banner-bg-3" data-background="~/Content/img/banner/layout_main_section.jpg">
            <div class="container custom-container">
                <div class="row">
                    <div class="col-xl-6 col-lg-8">
                        <div class="banner-content">
                            <h6 class="sub-title wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.8s">Movflx</h6>
                            <h2 class="title wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1.8s">Unlimited <span>Movie</span>, TVs Shows, & More.</h2>
                            <div class="banner-meta wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1.8s">
                                <ul>
                                    <li class="quality">
                                        <span>Pg 18</span>
                                        <span>hd</span>
                                    </li>
                                    <li class="category">
                                        <a href="#">Romance,</a>
                                        <a href="#">Drama</a>
                                    </li>
                                    <li class="release-time">
                                        <span><i class="far fa-calendar-alt"></i> 2024</span>
                                        <span><i class="far fa-clock"></i> 128 min</span>
                                    </li>
                                </ul>
                            </div>
                            <a href="https://www.youtube.com/watch?v=R2gbPxeNk2E" class="banner-btn btn popup-video wow fadeInUp" data-wow-delay=".8s" data-wow-duration="1.8s"><i class="fas fa-play"></i> Watch Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="container custom-container">
        @foreach (var categoryViewModel in Model)
        {
            <div class="row">
                <div class="mt-2 ms-2 mb-3">
                    <span class="title-course">@categoryViewModel.Category.name</span>
                </div>
                @foreach (var course in categoryViewModel.Courses)
                {
                    <section class="col-lg-3 ps-2 pe-2">
                        <div class="mb-3 w-100 h-100 overflow-auto">
                            <a class="rounded-4 d-block object-fit-cover overflow-hidden w-100 a_course mb-3" title="@course.title" target="_self">
                                <button class="btn_course text-dark rounded-5 p-2">
                                    Xem khoá học
                                </button>
                                <img src="@course.image_code" alt=".." class="object-fit-cover border-0 rounded-4 w-100 h-100" />

                                @*thay đổi category_id theo database*@
                                @if(course.category_id == 3){
                                    <i class="fa-solid fa-crown" style="color: #FFD43B; position: absolute; top: 10px; right: 20px;"></i>
                                }
                            </a>
                            <div class="course_title">
                                <span class="text-black-75 fs-6">@course.title</span>
                            </div>
                            <div class="price-new mt-4">
                                @if (course.price.HasValue)
                                {
                                    @*thay đổi category_id theo database*@
                                    if (course.category_id == 3)
                                    {
                                        <span class="courseItem_old_price">@course.price.Value.ToString("N0")</span>
                                    }
                                }
                                else
                                {
                                    <span class="courseItem_old_price">Miễn phí</span>
                                }
                                <span class="courseItem_main_price"></span>
                            </div>
                        </div>
                    </section>
                }
            </div>
        }
    </div>
</main>

@section Scripts{
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            var header = document.getElementById('sticky-header');
            header.classList.add("home");
        })
        window.addEventListener('scroll', function () {
            var header = document.getElementById('sticky-header');

            var scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;

            if (scrollTop < 100 && !header.classList.contains("home")) {
                header.classList.add("home");
            } else if (scrollTop >= 100 && header.classList.contains("home")) {
                header.classList.remove("home");
            }
        })
    </script>
}