@using System.Web.UI.WebControls
@using Website_Course_AVG.Managers
@{
    Layout = null;
    string currentController = ViewContext.RouteData.Values["controller"].ToString();
    string currentAction = ViewContext.RouteData.Values["action"].ToString();
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AVG Course Admin Management</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/logo/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- CSS here -->

    @Styles.Render("~/Content/css/bootstrap.css")
    @Styles.Render("~/Content/fonts/bootstrap/bootstrap-icons.css")
    @Styles.Render("~/Content/main.min.css")
    @Styles.Render("~/Content/vendor/overlay-scroll/OverlayScrollbars.min.css")
    @Styles.Render("~/Content/css/toastr.css")
    @RenderSection("styles", required: false)

    <script src="https://kit.fontawesome.com/d30a7cc1f2.js" crossorigin="anonymous"></script>
    <style>
        html, body {
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div class="page-wrapper">
        <!-- App header starts -->
        <div class="app-header d-flex align-items-center">

            <!-- Toggle buttons start -->
            <div class="d-flex">
                <button class="toggle-sidebar" id="toggle-sidebar">
                    <i class="bi bi-list lh-1"></i>
                </button>
                <button class="pin-sidebar" id="pin-sidebar">
                    <i class="bi bi-list lh-1"></i>
                </button>
            </div>
            <!-- Toggle buttons end -->
            <!-- App brand starts -->
            <div class="app-brand py-2 ms-3">
                <a href="@Url.Action("Index","Admin")" class="d-sm-block d-none">
                    <img src="~/Content/img/logo/AVG_admin.png" class="logo" alt="Bootstrap Gallery" />
                </a>
                <a href="@Url.Action("Index","Admin")" class="d-sm-none d-block">
                    <img src="~/Content/img/logo/AVG_admin.png" class="logo" alt="Bootstrap Gallery" />
                </a>
            </div>
            <!-- App brand ends -->
            <!-- App header actions start -->
            <div class="header-actions col">
                <div class="d-lg-flex d-none">
                    <div class="dropdown border-start">
                        <a class="dropdown-toggle d-flex px-3 py-4 position-relative" href="#!" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-exclamation-triangle fs-4 lh-1 text-secondary"></i>
                            <span class="count-label warning"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end shadow-lg">
                            <h5 class="fw-semibold px-3 py-2 text-primary">
                                Notifications
                            </h5>
                            <div class="dropdown-item">
                                <div class="d-flex py-2 border-bottom">
                                    <div class="icon-box md bg-success rounded-circle me-3">
                                        <i class="bi bi-exclamation-triangle text-white fs-4"></i>
                                    </div>
                                    <div class="m-0">
                                        <h6 class="mb-1 fw-semibold">Rosalie Deleon</h6>
                                        <p class="mb-1">You have new order.</p>
                                        <p class="small m-0 text-secondary">30 mins ago</p>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-item">
                                <div class="d-flex py-2 border-bottom">
                                    <div class="icon-box md bg-danger rounded-circle me-3">
                                        <i class="bi bi-exclamation-octagon text-white fs-4"></i>
                                    </div>
                                    <div class="m-0">
                                        <h6 class="mb-1 fw-semibold">Donovan Stuart</h6>
                                        <p class="mb-1">Membership has been expired.</p>
                                        <p class="small m-0 text-secondary">2 days ago</p>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-item">
                                <div class="d-flex py-2">
                                    <div class="icon-box md bg-warning rounded-circle me-3">
                                        <i class="bi bi-exclamation-square text-white fs-4"></i>
                                    </div>
                                    <div class="m-0">
                                        <h6 class="mb-1 fw-semibold">Roscoe Richards</h6>
                                        <p class="mb-1">Payment pending. Pay now.</p>
                                        <p class="small m-0 text-secondary">3 days ago</p>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid mx-3 my-1">
                                <a href="javascript:void(0)" class="btn btn-primary">View all</a>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown border-start">
                        <a class="dropdown-toggle d-flex px-3 py-4 position-relative" href="#!" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-bell fs-4 lh-1 text-secondary"></i>
                            <span class="count-label info"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end shadow-lg">
                            <h5 class="fw-semibold px-3 py-2 text-primary">Updates</h5>
                            <div class="dropdown-item">
                                <div class="d-flex py-2 border-bottom">
                                    <div class="icon-box md bg-success rounded-circle me-3">
                                        <span class="fw-bold text-white">DS</span>
                                    </div>
                                    <div class="m-0">
                                        <h6 class="mb-1 fw-semibold">Douglass Shaw</h6>
                                        <p class="mb-1">
                                            Membership has been ended.
                                        </p>
                                        <p class="small m-0 text-secondary">Today, 07:30pm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-item">
                                <div class="d-flex py-2 border-bottom">
                                    <div class="icon-box md bg-danger rounded-circle me-3">
                                        <span class="fw-bold text-white">WG</span>
                                    </div>
                                    <div class="m-0">
                                        <h6 class="mb-1 fw-semibold">Willie Garrison</h6>
                                        <p class="mb-1">
                                            Congratulate, James for new job.
                                        </p>
                                        <p class="small m-0 text-secondary">Today, 08:00pm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-item">
                                <div class="d-flex py-2">
                                    <div class="icon-box md bg-warning rounded-circle me-3">
                                        <span class="fw-bold text-white">TJ</span>
                                    </div>
                                    <div class="m-0">
                                        <h6 class="mb-1 fw-semibold">Terry Jenkins</h6>
                                        <p class="mb-1">
                                            Lewis added new schedule release.
                                        </p>
                                        <p class="small m-0 text-secondary">Today, 09:30pm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid mx-3 my-1">
                                <a href="javascript:void(0)" class="btn btn-primary">View all</a>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown border-start">
                        <a class="dropdown-toggle d-flex px-3 py-4 position-relative" href="#!" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-envelope-open fs-4 lh-1 text-secondary"></i>
                            <span class="count-label"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end shadow-lg">
                            <h5 class="fw-semibold px-3 py-2 text-primary">Messages</h5>
                            <div class="dropdown-item">
                                <div class="d-flex py-2 border-bottom">
                                    <img src="~/Content/imagesAdmin/user3.png" class="img-3x me-3 rounded-5" alt="Admin Theme" />
                                    <div class="m-0">
                                        <h6 class="mb-1 fw-semibold">Angelia Payne</h6>
                                        <p class="mb-1">
                                            Membership has been ended.
                                        </p>
                                        <p class="small m-0 text-secondary">Today, 07:30pm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-item">
                                <div class="d-flex py-2 border-bottom">
                                    <img src="~/Content/imagesAdmin/user1.png" class="img-3x me-3 rounded-5" alt="Admin Theme" />
                                    <div class="m-0">
                                        <h6 class="mb-1 fw-semibold">Clyde Fowler</h6>
                                        <p class="mb-1">
                                            Congratulate, James for new job.
                                        </p>
                                        <p class="small m-0 text-secondary">Today, 08:00pm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-item">
                                <div class="d-flex py-2">
                                    <img src="~/Content/imagesAdmin/user4.png" class="img-3x me-3 rounded-5" alt="Admin Theme" />
                                    <div class="m-0">
                                        <h6 class="mb-1 fw-semibold">Sophie Michiels</h6>
                                        <p class="mb-1">
                                            Lewis added new schedule release.
                                        </p>
                                        <p class="small m-0 text-secondary">Today, 09:30pm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid mx-3 my-1">
                                <a href="javascript:void(0)" class="btn btn-primary">View all</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown ms-2">
                    @if (Helpers.IsAuthenticated())
                    {
                    <a id="userSettings" class="dropdown-toggle d-flex py-2 align-items-center text-decoration-none" href="#!"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user-tie"></i>
                        <span class="ms-2 text-truncate d-lg-block d-none fw-semibold text-info">@Helpers.GetUserFromToken().fullname</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end shadow-lg">
                        <div class="mx-3 mt-2 d-grid">
                            <a href="@Url.Action("Logout","Account")" class="btn btn-primary btn-sm">Logout</a>
                        </div>
                    </div>
                    }
                    else
                    {
                    <a id="userSettings" class="dropdown-toggle d-flex py-2 align-items-center text-decoration-none" href="#!"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user"></i>
                        <span class="ms-2 text-truncate d-lg-block d-none fw-semibold text-info">Username</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end shadow-lg">
                        <div class="mx-3 mt-2 d-grid">
                            <a href="@Url.Action("Login","Account")" class="btn btn-primary btn-sm mb-1 rounded-2">Login</a>
                            <a href="@Url.Action("Register","Account")" class="btn btn-primary btn-sm rounded-2">Register</a>
                        </div>
                    </div>

                    }
                </div>
            </div>
            <!-- App header actions end -->

        </div>
        <!-- App header ends -->
        <!-- Main container start -->
        <div class="main-container">

            <!-- Sidebar wrapper start -->
            <nav id="sidebar" class="sidebar-wrapper">

                <!-- Sidebar profile starts -->
                <div class="shop-profile">
                    <p class="mb-1 fw-bold text-primary">AVG Course</p>
                    <p class="m-0">Hutech, HCM</p>
                </div>
                <!-- Sidebar profile ends -->
                <!-- Sidebar menu starts -->
                <div class="sidebarMenuScroll">
                    <ul class="sidebar-menu">
                        <li>
                            <a href="@Url.Action("Index","Admin")">
                                <i class="bi bi-pie-chart"></i>
                                <span class="menu-text">Dashboard</span>
                            </a>
                        </li>
                        @if (Helpers.IsAdmin())
                        {
                        <li>
                            <a href="@Url.Action("Index","Account")">
                                <i class="bi bi-person-square"></i>
                                <span class="menu-text">Account</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Blog")">
                                <i class="bi bi-newspaper"></i>
                                <span class="menu-text">Blog</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Category")">
                                <i class="bi bi-archive"></i>
                                <span class="menu-text">Category</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Comment")">
                                <i class="bi bi-window"></i>
                                <span class="menu-text">Comment</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Contact")">
                                <i class="bi bi-person-lines-fill"></i>
                                <span class="menu-text">Contact</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Course")">
                                <i class="bi bi-window"></i>
                                <span class="menu-text">Course</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Exercise")">
                                <i class="bi bi-body-text"></i>
                                <span class="menu-text">Exercise</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Image")">
                                <i class="bi bi-image"></i>
                                <span class="menu-text">Image</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Lesson")">
                                <i class="bi bi-book"></i>
                                <span class="menu-text">Lesson</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Notify")">
                                <i class="bi bi-bell"></i>
                                <span class="menu-text">Notify</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Order")">
                                <i class="bi bi-cart"></i>
                                <span class="menu-text">Order</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Report")">
                                <i class="bi bi-flag-fill"></i>
                                <span class="menu-text">Report</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Option")">
                                <i class="bi bi-gear"></i>
                                <span class="menu-text">Option</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Promotion")">
                                <i class="bi bi-postcard-heart"></i>
                                <span class="menu-text">Promotion</span>
                            </a>
                        </li>

                        }
                    </ul>
                </div>
                <!-- Sidebar menu ends -->

            </nav>
            <!-- Sidebar wrapper end -->
            <!-- App container starts -->
            <div class="app-container">
                <!-- App hero header starts -->
                <div class="app-hero-header d-flex align-items-center">
                    <!-- Breadcrumb start -->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <i class="bi bi-house lh-1 pe-3 me-3 border-end border-dark"></i>
                            <a href="@Url.Action("Index","Admin")" class="text-decoration-none">Admin</a>
                        </li>
                        <li class="breadcrumb-item text-secondary" aria-current="page">
                            @ViewBag.controller
                        </li>
                    </ol>
                    <!-- Breadcrumb end -->
                    <!-- Sales stats start -->
                    <div class="ms-auto d-lg-flex d-none flex-row">
                        <div class="d-flex flex-row gap-2">
                            <button type="button" class="btn btn-outline-info btn-insert" data-controller="@ViewBag.controller">
                                <i class="bi bi-plus-square"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Sales stats end -->

                </div>
                <!-- App Hero header ends -->
                <!-- App body starts -->
                <div class="render-body">
                    @RenderBody()
                </div>
                <!-- App body ends -->
                <!-- App footer start -->
                <div class="app-footer">
                    <span>© AVG TEAM 2023</span>
                </div>
                <!-- App footer end -->

            </div>
            <!-- App container ends -->

        </div>
        <!-- Main container end -->

    </div>
    @Scripts.Render("~/Scripts/js/jquery.min.js")
    @Scripts.Render("~/Scripts/js/bootstrap.bundle.min.js")
    @Scripts.Render("~/Content/vendor/overlay-scroll/jquery.overlayScrollbars.min.js")
    @Scripts.Render("~/Content/vendor/overlay-scroll/custom-scrollbar.js")
    @Scripts.Render("~/Scripts/toastr.js")
    @Scripts.Render("~/Scripts/js/custom.js")
    @Scripts.Render("~/Scripts/js/todays-date.js")
    @Scripts.Render("~/Scripts/js/moment.min.js")
    @RenderSection("scripts", required: false)


    <script>
        function getCookie(cookieName) {
            var name = cookieName + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        document.addEventListener("DOMContentLoaded", function () {
            var cookieNotify = getCookie('Notify');
            if (cookieNotify !== "") {
                toastr.success(cookieNotify, 'Notify')
            }
            var cookieError = getCookie('Error');
            if (cookieError !== "") {
                toastr.error(cookieError, 'Error')

            }


            var menuItems = document.querySelectorAll(".sidebar-menu li");


            menuItems.forEach(function (item) {

                var href = item.querySelector("a").getAttribute("href");
                var path = window.location.pathname;


                if (path.startsWith(href)) {
                    item.classList.add("active", "current-page");
                }


                item.addEventListener("click", function () {

                    menuItems.forEach(function (menuItem) {
                        menuItem.classList.remove("active", "current-page");
                    });


                    this.classList.add("active", "current-page");
                });
            });
        });

        $(".btn-insert").click(function () {
            var controller = $(this).data("controller");

            if (controller === "admin") {
                $(this).prop("disabled", true);
                return;
            }
            window.location.href = '/Admin/' + controller + '/Insert'; // Đảm bảo chèn dấu gạch chéo trước tên controller
        });
    </script>
</body>
</html>


