@model Website_Course_AVG.Models.CartViewModels
@using Website_Course_AVG.Managers

@{
    ViewBag.Title = "Index";
    int courseCount = Model?.CourseCount ?? 0;
    bool isLoggedIn = Helpers.IsAuthenticated();
}

@section Styles {
    <style>
        @@media (max-width: 575px) {
            .btn-back {
                padding: 0.5rem 1rem !important;
            }
        }
    </style>
}

<section class="h-100" style="background-color: #eee;">
    <div id="sp-container" class="container h-100 py-5">
        <a href="@Url.Action("Index", "Course")" class="btn btn-primary btn-back">Back</a>
        @if (Model.CourseCount > 0)
        {
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-10">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h3 class="header mb-0 text-black">Cart</h3>
                        <div>
                            @if (@Model.CourseCount == 1)
                            {
                                <p class="mb-0 text-black cart-count">You have @Model.CourseCount course in your cart</p>
                            }
                            else
                            {
                                <p class="mb-0 text-black cart-count">You have @Model.CourseCount courses in your cart</p>
                            }
                        </div>
                    </div>
                    @foreach (var course in Model.Courses)
                    {
                        <div id="item-card" class="card rounded-3 mb-4">
                            <div class="card-body p-4">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        <img src="@course.image_code" class="card-img card-img-top img-fluid rounded-3" alt="img_code">
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-6">
                                        <p class="lead text-black fw-normal mb-2">@course.title</p>
                                        <p><span class="text-muted">By @course.author</span>
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                        <h5 class="mb-0 text-primary">@course.price VND</h5>
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                        <a href="#!" class="text-danger" onclick="deleteItem(@course.id, this)"><i class="fas fa-trash fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="text-black">Total:</h4>
                            <h3 id="totalAmount" class="text-primary"> @ViewBag.TotalAmount VND</h3>
                            <button class="btn btn-primary btn-payment" onclick="proceedToPayment()">Proceed to Pay</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <h1 class="noti text-center text-black">No courses in your cart</h1>
        }
    </div>
</section>


@section scripts {
    <script>
        function redirectToLogin() {
            window.location.href = '@Url.Action("Login", "Account")';
        }

        function proceedToPayment() {
            var isLoggedIn = @Html.Raw(Json.Encode(isLoggedIn));
            if (!isLoggedIn) {
                //document.cookie = "Error=" + "You aren't logged in!" + ";path=/"
                setCookie("Error", "You aren't logged in!", 10)
                redirectToLogin();
            } else {
                window.location.href = '@Url.Action("Payment", "Cart")';
            }
        }

        function deleteItem(itemId, element) {
            removeFromCookie(itemId);

            var card = element.closest('.card');
            card.remove();

            updateCourseCount();
        }

        function removeFromCookie(itemId) {
            var cookieValue = atob(getCookie("Item"));
            var ids = cookieValue.split(';');
            var index = ids.indexOf(itemId.toString());
            if (index !== -1) {
                ids.splice(index, 1);
            }

            var updatedCookieValue = ids.join(';');
            document.cookie = "Item=" + btoa(updatedCookieValue) + ";path=/";
        }

        function updateCourseCount() {
            var courseCount = $('.card').length-1;
            if (courseCount !== 0) {
                if (courseCount == 1) {
                    $('.cart-count').text("You have " + courseCount + " course in your cart");
                } else {
                    $('.cart-count').text("You have " + courseCount + " courses in your cart");
                }
                $('.noti').hide()
            }
            else {
                $('.noti').show();
                $('.header').hide();
                $('.card').hide();
                $('.cart-count').hide();
                //document.cookie = "Item=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                deleteCookie("Item");
                if ($('#sp-container.noti').length === 0) {
                    $('#sp-container').append('<h1 class="noti text-center text-black">No courses in your cart</h1>');
                }
            }
        }
    </script>
}

