@model Website_Course_AVG.Areas.Admin.Data.ViewModels.AdminViewModels
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="app-body">
    <div id="form" class="card mb-3">
        @using (Html.BeginForm("Insert", "Course", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
        <div class="card-header">
            <div class="row">
                <div class="col-10">
                    <h5 class="card-title">Insert Course</h5>
                </div>
                <div class="col-2 float-end">
                    <a href=@Url.Action("Index", "Course") type="button" class="btn btn-outline-info btn-insert float-end">
                        <i class="bi bi-arrow-left-square"></i>
                    </a>
                </div>
            </div>
        </div>
            <div class="card-body">
                <div class="row gx-3">
                    <div class="col-xl-4 col-sm-6 col-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="m-0">
                                    <label class="form-label">Title</label>
                                    <input type="text" name="Course.title" class="form-control" placeholder="Title" />
                                    @Html.ValidationMessageFor(m => m.Course.title, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 col-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="m-0">
                                    <label class="form-label">Description</label>
                                    <input type="text" name="Course.description" class="form-control" placeholder="Description" />
                                    @Html.ValidationMessageFor(m => m.Course.description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 col-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="m-0">
                                    <label class="form-label">Author</label>
                                    <input text="text" name="Course.author" class="form-control" placeholder="Author" />
                                    @Html.ValidationMessageFor(m => m.Course.author, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 col-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <label class="form-label">Price</label>
                                <div class="input-group">
                                    <input type="text" name="Course.Price" class="form-control" />
                                    <span class="input-group-text">VND</span>
                                    @Html.ValidationMessageFor(m => m.Course.price, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 col-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="m-0">
                                    <label class="form-label">Select Category </label>
                                    <select class="form-select" aria-label="Default select example" name="Course.category_id">
                                        <option selected="">Open this select menu</option>
                                        @foreach (var item in Model.Categories)
                                        {
                                            <option value=@item.id>@item.name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-xl-4 col-sm-6 col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <label class="m-0">
                        <label class="form-label">Image</label>
                        <a class="row">
                            <input type="file" id="imageUpload" accept="image/*" onchange="previewImage()">
                            <img id="imagePreview" src="" alt="Preview Image" style="max-width: 100%; max-height: 200px;">
                        </a>
                    </label>
                </div>
            </div>
        </div>*@
                    <div class="col-xl-4 col-sm-6 col-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="mb-0">
                                    <label class="form-label">Upload Banner</label>
                                    <input name="file" id="singleFileInput" class="form-control" type="file" accept="image/*" />
                                    <div id="preview"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 col-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="mb-0">
                                    <label class="form-label">Upload Course Image</label>
                                    <input name="files" class="form-control" type="file" id="fileInput" multiple />
                                    <div id="preview2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex gap-2 justify-content-end">
                    @*<button type="button" class="btn btn-outline-secondary">Cancel</button>*@
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#fileInput').on('change', function () {
                $('#preview2').html('');
                var files = $(this)[0].files;

                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#preview2').append('<img src="' + e.target.result + '" class="img-thumbnail mr-2" width="150">');
                    }

                    reader.readAsDataURL(file);
                }
            });
            $('#singleFileInput').on('change', function () {
                var file = this.files[0];
                if (file) {
                    $('#preview').html('');
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#preview').append('<img src="' + e.target.result + '" class="img-thumbnail mr-2" width="150">');
                    }
                    reader.readAsDataURL(file);
                }
            });
        });
        function previewImage() {
            var preview = document.querySelector('#imagePreview');
            var file = document.querySelector('#imageUpload').files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }
    </script>
}

