@model IEnumerable<Website_Course_AVG.Models.course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card-img {
        height: 200px;
        object-fit: cover;
    }
</style>

<h2 class="text-black">List of Course</h2>

<div>
    <a href="@Url.Action("Index", "Cart")" class="btn btn-primary">View Cart</a>
</div>

<div class="row">
    @foreach (var course in Model)
    {
        <div class="col-md-3">
            <div class="card">
                <img src="@course.image_code" class="card-img card-img-top" alt="Course image">
                <div class="card-body">
                    <h5 class="card-title text-black">@course.title</h5>
                    <p class="card-title text-black">@course.description</p>
                    <p class="card-text text-black">@course.author</p>
                    <p class="card-text text-black">@course.price</p>
                    <button class="btn btn-primary buy-btn" data-course-id="@course.id">Add to Cart</button>
                </div>
            </div>
        </div>
    }
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.buy-btn').click(function () {
                var courseId = $(this).data('course-id');
                // Lấy danh sách ID đã lưu từ cookie
                var existingIds = getCookie("selected_course_ids");
                // Thêm ID mới vào danh sách
                if (existingIds) {
                    existingIds += "," + courseId;
                } else {
                    existingIds = courseId;
                }
                // Lưu danh sách mới vào cookie
                document.cookie = "selected_course_ids=" + existingIds + ";path=/";
                // Hiển thị thông báo hoặc thực hiện hành động khác ở đây
                alert('Course with ID ' + courseId + ' added to cart.');
            });

            // Hàm lấy giá trị của cookie theo tên
            function getCookie(name) {
                var value = "; " + document.cookie;
                var parts = value.split("; " + name + "=");
                if (parts.length == 2) return parts.pop().split(";").shift();
            }
        });
    </script>
}

